version: "3.8"

services:
  # PostgreSQL Database Service for Development
  postgres:
    image: postgres:15-alpine
    container_name: secufi_postgres_dev
    restart: unless-stopped
    environment:
      POSTGRES_DB: secufi
      POSTGRES_USER: secufi
      POSTGRES_PASSWORD: secufiAdmin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    networks:
      - secufi_network_dev

  # Development Application Service with Hot Reload
  app:
    build: .
    container_name: secufi_app_dev
    restart: unless-stopped
    ports:
      - "${PORT:-5000}:${PORT:-5000}"
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      DATABASE_URL: ${DATABASE_URL:-postgresql://${POSTGRES_USER:-secufi_user}:${POSTGRES_PASSWORD:-secufi_password}@postgres:5432/${POSTGRES_DB:-secufi_dev_db}}
      PORT: ${PORT:-5000}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
      JWT_SECRET: ${JWT_SECRET}
      JWT_REFRESH_SECRET: ${your-refresh-secret-key-change-this-in-production}
      JWT_EXPIRY: 10d
      JWT_REFRESH_EXPIRY: 70d
      JWT_ISSUER: my-app
      JWT_AUDIENCE: my-app-users
      JWT_EXPIRE: 30d
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      # badrock
      AWS_BEARER_TOKEN_BEDROCK: ${AWS_BEARER_TOKEN_BEDROCK}

      # Gmail SMTP Configuration
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USER: secufi.test@gmail.com
      SMTP_PASS: ${SMTP_PASS}

      # Sender Info
      SENDER_NAME: "Secufi Inc"
      SENDER_EMAIL: secufi.test@gmail.com

      # secret keys
      SERVER_KEY: ${SERVER_KEY}
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - postgres
    networks:
      - secufi_network_dev
    command: npm run dev

volumes:
  postgres_data_dev:

networks:
  secufi_network_dev:
    driver: bridge
